<h1>Login</h1>

<div class="field form-group">
  <%= form_tag '/login' do %>
    <div class="form-label">Email:</div>
    <%= text_field_tag :email%>

    <div class="form-label">Password:</div>
    <%= password_field_tag :password%>
    
    <br>
    <br>

    <div>
      <%= submit_tag "Submit", class:"btn btn-primary"%>
    </div>
  <% end %>
  
</div>